@media (max-width: 810px) {
  body .app h1 {
    margin-bottom: 2em;
    font-size: 2.9rem;
  }
  body .app .vertical-line {
    display: none;
  }
  body .app .air-weather__air-quality {
    margin-top: 0;
    width: 50%;
  }
  body .app .weather-type {
    width: 50%;
  }
  body .app .weather-type__img {
    width: 140px;
    height: 100px;
  }
  body .app .statisctics-box {
    padding-bottom: 8.5em;
  }
  body .app .statisctics-box .category-box__card {
    width: 36%;
  }
  body .app .statisctics-box .adress {
    position: absolute;
    bottom: 27px;
    margin: 0;
  }
  body .app .statisctics-box .adress .adress__name-icon {
    margin: 0;
  }
  body .app .statisctics-box .adress input {
    margin-top: 0.5em;
  }
  body .app .statisctics-box .adress .ok {
    position: absolute;
    right: -60px;
    bottom: 15px;
  }
}
@media (max-width: 576px) {
  body {
    margin-bottom: 3em;
  }
  body .app {
    width: 90%;
  }
  body .app .statisctics-box {
    display: none;
  }
  body .app .air-weather {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .app .air-weather .category-box {
    margin: 3em 0em 2em 0em;
  }
  body .app .air-weather .category-box .category-box__card {
    width: 31%;
  }
  body .app .air-weather .air-weather__air-quality {
    width: 100%;
  }
  body .app .air-weather .air-weather__air-quality .adress {
    position: relative;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 2.5em;
  }
  body .app .air-weather .air-weather__air-quality .adress .mobile-line-one, body .app .air-weather .air-weather__air-quality .adress .mobile-line-two {
    display: block;
  }
  body .app .air-weather .weather-type {
    width: 100%;
    margin-top: 2em;
  }
}
@media (max-width: 390px) {
  body .app .category-box__card {
    width: 100px;
  }
  body .app .air-weather .air-weather__air-quality .category-box .category-box__card {
    width: 100px;
  }
  body .app .air-weather .air-weather__air-quality .air-weather__air-quality-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2rem;
  }
  body .app .air-weather .air-weather__air-quality .air-weather__air-quality-title #air-quality {
    font-size: 2rem;
  }
  body .app .air-weather .weather-type .weather-type-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1em;
  }
  body .app .air-weather .weather-type .category-box .category-box__card {
    width: 100px;
  }
  body .app .mobile-line-one,
  body .app .mobile-line-two {
    width: 100%;
  }
}
@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.underline {
  display: inline-block;
  height: 1px;
  width: 150px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: rgba(255, 255, 255, 0.521);
}

.vertical-line {
  position: absolute;
  top: 20%;
  width: 1px;
  height: 260px;
  background-color: rgba(255, 255, 255, 0.521);
}

.mobile-line-one {
  top: -8%;
}

.mobile-line-two {
  bottom: -14%;
}

.mobile-line-one, .mobile-line-two {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 140%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.521);
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 5em;
  margin-bottom: 5em;
  font-family: "Inika", sans-serif;
  font-size: 1.6rem;
  color: rgb(224, 220, 220);
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgb(59, 173, 227) 0%, rgb(87, 111, 230) 25%, rgb(152, 68, 183) 51%, rgba(255, 53, 127, 0.596) 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

.app {
  position: relative;
  width: 1000px;
  padding: 1em;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.705);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.705);
  background-color: rgba(48, 45, 45, 0.85);
}

h1 {
  text-align: center;
  margin-top: 0.4em;
  font-size: 3.5rem;
}

.category-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.category-box__title {
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
}
.category-box__card {
  position: relative;
  text-align: center;
  width: 33%;
  width: 103px;
  margin: 0.5em;
  margin-top: 0.7em;
  padding: 0.5em;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(26, 25, 25, 0.959);
          box-shadow: 2px 2px 10px rgba(26, 25, 25, 0.959);
  background-color: rgba(213, 212, 212, 0.205);
}
.category-box__card-img {
  width: 25px;
  height: 30px;
}
.category-box__card .info {
  position: absolute;
  right: 0.3em;
  top: 0.3em;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
}
.category-box__card-info {
  position: absolute;
  background-color: rgba(70, 60, 60, 0.973);
  bottom: 85%;
  left: 90%;
  width: 200px;
  font-size: 1.4rem;
  padding: 0.7em;
  border-radius: 10px;
  z-index: 1;
  display: none;
}
.category-box__card-info span {
  font-weight: bold;
  color: tomato;
}
.category-box__card-img--temp {
  width: 16px;
}
.category-box__card .category-box__card-img--co {
  width: 37px;
}
.category-box__card .category-box__card-img--wind {
  width: 33px;
}
.category-box__card .category-box__card-img--real {
  margin-right: 0.6em;
}
.category-box__card .category-box__card-img--temp {
  margin-left: 0.2em;
}
.category-box__card .category-box__card-img--so2 {
  width: 37px;
  color: #fff;
}

.air-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.7em;
}
.air-weather__air-quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
  width: 35%;
}
.air-weather__air-quality-img {
  width: 100px;
  height: 100px;
}
.air-weather__air-quality #air-quality {
  font-size: 2.4rem;
}

.air-weather__air-quality-title, .weather-type__title {
  margin-top: 0.7em;
  font-size: 2rem;
}

.weather-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37%;
}
.weather-type__img {
  width: 150px;
  height: 120px;
}

.statisctics-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
}
.statisctics-box .pollution {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.statisctics-box .weather-stats {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.statisctics-box .weather-stats__title {
  text-align: end;
  margin-right: 2em;
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 2.7em 2em;
  margin: 1em;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.adress__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.adress__name-icon {
  height: 48px;
  margin-bottom: 0.3em;
}
.adress__name-city {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
}
.adress input {
  margin-left: 0.5em;
  margin-top: 1em;
  padding: 0.6em;
  width: 220px;
  border-radius: 8px;
}
.adress .ok {
  height: 35px;
  width: 50px;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 8px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.adress .ok:hover {
  color: black;
  border: 2px solid black;
  background-color: #fff;
}
.adress .city-error {
  margin: 0.5em 0em;
  color: tomato;
  font-size: 1.5rem;
}/*# sourceMappingURL=main.css.map */