@media (max-width: 810px) {
	body {
		.app {
			max-width: 740px;

			.vertical-line {
				display: none;
			}
			h1 {
				font-size: 2.8rem;
			}
			.air-weather {
				margin-top: 2em;
				.air-weather__air-quality-img {
					width: 70px;
					height: 70px;
				}
				.weather-type {
					margin-left: 0;
				}
			}

			.weather-type__img {
				width: 100px;
				height: 100px;
			}

			.statisctics-box {
				margin-top: 2em;
				padding-bottom: 8em;
				.category-box {
					width: 100%;
					align-self: flex-start;
				}

				.weather-stats {
					display: flex;
				}
				.category-box__card {
					width: 39%;
				}
				.adress__name-icon {
					margin: 0;
				}
			}

			.adress {
				position: absolute;
				bottom: 15px;
				align-items: center;
				margin: 0;

				.adress__name {
					align-self: flex-start;
				}
				input {
					margin-top: 0.5em;
				}
				.ok {
					position: absolute;
					right: -60px;
					bottom: 15px;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	body {
		margin-bottom: 3em;
		.app {
            width: 90%;

			.air-weather {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
				.air-weather__air-quality{
					order: 0;
				}
                .air-weather__air-quality-title{
                    margin-top: 1em;
                    font-size: 2.3rem;
                }

				.weather-type {
					order: 3;
                    margin-top: 2em;
				}
			}

			.weather-type__img {
                height: 95px;
                width: 130px;
			}
			.weather-type__title {
                margin-top: 1em;
                height: 80px;
			}

			.statisctics-box {
				// flex-wrap: wrap;
				// align-content: baseline;
				width: 78%;
				margin: auto;
                // order: 3;
				flex-direction: column;
                font-size: 1.7rem;
                margin-top: 0em;
				padding-bottom: 0;
                .pollution{
                    order: 1;
					// max-width: 80%;
					margin: auto;
				
                }
				.category-box {
					.category-box__title {
						width: 100%;
						h2 {
							width: 100%;
						}
					}
				}

				.weather-stats {
                    order: 4;
					margin: auto;
					margin-top: 1em;
					// width: 80%;
				}
				.category-box__card {
					// min-width: 107px;
					// max-width: 137px;
					width: 107px;
				}
			}

			.adress {
                // order: 0;
                position: relative;
                margin: 1.5em auto;
                justify-content: center;
                align-items: center;

				.ok {
                    position:static;
                    width: 30%;
				}
			}
		}
	}
}
