@media (max-width: 810px) {
	body {
		.app {
			max-width: 740px;

			.vertical-line {
				display: none;
			}
			h1 {
				font-size: 2.8rem;
			}
			.air-weather {
				margin-top: 2em;
				.air-weather__air-quality{
				margin-top: 0;
				// margin: auto;
				width: 50%;
				// margin-right: 0;
					.air-weather__air-quality-img {
						width: 100px;
						height: 100px;
					}
				}
				.weather-type {
					// margin-left: 0;
					// margin-left: -5em;
					// .weather-type__title{
					// 	margin-top: 0.5em;
					// }
					.weather-type__title{
						margin-top: 1em;
					}
				}
			}

			.weather-type__img {
				width: 140px;
				height: 100px;
			}

			.statisctics-box {
				margin-top: 2em;
				padding-bottom: 8em;
				.category-box {
					width: 100%;
					align-self: flex-start;
				}

				.weather-stats {
					display: flex;
				}
				.category-box__card {
					width: 39%;
				}

				.adress {
					position: absolute;
					bottom: 15px;
					margin: 0;
					.adress__name {
						align-self: flex-start;
						.adress__name-icon {
							margin: 0;
						}
					}
					input {
						margin-top: 0.5em;
					}
					.ok {
						position: absolute;
						right: -60px;
						bottom: 15px;
					}
				}
			}
		}
	}
}

@media (max-width: 576px) {
	body {
		margin-bottom: 3em;
		.app {
			width: 90%;
			.statisctics-box {
				display: none;
			}
			.air-weather {
				flex-direction: column;
				.air-weather__air-quality{
					width: 100%;
					}
				.category-box {
					width: 100%;
					justify-content: center;
					margin: 3em 0em 2em 0em;
				}
				.adress {
					align-self: center;
				}
				.weather-type {
					order: 0;
					margin-top: 2em;
				}
				.weather-type__img {
					height: 95px;
					width: 130px;
				}
			}
		}
	}
}

@media (max-width: 390px) {
	body {
		.app {
			.air-weather {
				.category-box__card {
					width: 41%;
				}
				.air-weather__air-quality-title {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					margin-top: 1em;
					#air-quality {
						font-size: 2.4rem;
					}
				}
			}
		}
	}
}
